<div class="main">
  <h1>Słownik terminów curlingowych</h1>

    <h3>Wyszukaj słowo:</h3>
    <%= form_for search_path, method: :get do |f| %>
        <p>
          <%= text_field_tag :q, params[:q] %>
          <%= submit_tag "Szukaj!", name: nil %>
        </p>
    <% end %>
<div class="slowa">
      <% @words.each do |word| %>
          <% if word.displayed = true %>

                <p><strong><%= word.name %></strong>
                <%= word.translation %></p>

          <% end %>
      <% end %>
</div>
<p><%= link_to "Kategorie", categories_path %></p>
<p>Brakuje słowa? <%= link_to "Dodaj", new_word_path %></p>
</div>