<p id="notice"><%= notice %></p>

<div class="main">
<h2><%= @word.name %></h2>

<p>
  <strong>Wyjaśnienie:</strong>
  <%= @word.translation %>
</p>

<p>
  <strong>Kategoria:</strong>
  <%= @word.category_id %>
</p>

<%= link_to 'Edit', edit_word_path(@word) %> |
<%= link_to 'Back', words_path %>

</div>