<div class="main">
<p id="notice"><%= notice %></p>

Słowa z kategorii: <strong><%= @category.name %></strong>
</p>
<% if @category.words.count > 0 %>
    <table>
      <% @category.words.each do |attr| %>
          <tbody>
          <tr>
            <td> <strong><%= attr.name %></strong></td>
            <td><%= attr.translation %></td>
          </tr>
          </tbody>
      <% end %>
    </table>
<% else %>
    <div>
      <p>Ta kategoria nie ma jeszcze żadnych słów.</p>
    </div>
<% end %>
  <br><br>
  <p>
    <%= link_to 'Lista wszystkich kategorii', categories_path %><br><br>
    <%= link_to 'Lista wszystkich słów w słowniku', words_path %><br><br>
  </p>
</div>